
.outerBot {
    background-image: linear-gradient(to right, blue, rgb(0, 221, 175));
    margin: auto;
    /* max-width: fit-content; */
    width: 701.578px;
    padding: 5px 32px 5px 32px;
    box-shadow: 100px 100px 80px rgba(0, 0, 0, 0.12);
    /* display: flex;
    flex-direction: row; */
    border-radius: 5px;
    margin-top: 5px;
}

.foreMain {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    margin-top: 10px;

}

.mainHead {
    color: white;
    font-size: 1.2vw;
    margin: 10px 10px;

}

.line {
    color: gray;
    height: 0.5px;
    background-color: aliceblue;
    border-radius: 3px;
}

.weatherSmall {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: space-between;
    overflow: scroll;
    gap: 15px;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-margin: 2px;
}

.inBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    scroll-snap-align: start;
   
}



.weatherImages {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.smallText {
    font-size: 1vw;
}

.medText {
    font-size: 1.1vw;
}